/* Reset */
* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif; 
  }

body { 
       background: #fafafa;
       color: #333; 
       line-height: 1.6; 
      }

/* Navbar */
.navbar {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background: #fff; 
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: sticky; 
  top: 0; 
  z-index: 10;
}

.logo { 
  font-size: 1.5rem; 
  font-weight: 700; 
  color: #ff4081;
 }
.navbar ul { 
  display: flex; 
  list-style: none; 
  flex-wrap: wrap;
}
.navbar li { 
  margin-left: 1.5rem;
 }
 .navbar a { 
  text-decoration: none; 
  color: #333; 
  font-weight: bold; 
  transition: 0.3s; 
}
.navbar a:hover, .navbar a.active { 
  color: #ff4081;
  font-weight: bold; 
  text-decoration: underline;
}


/* Hero */
.hero { 
  text-align: center; 
  padding: 6rem 1rem; 
  background: linear-gradient(to right, #ff9a9e, #fad0c4); 
  color: #fff; 
}
.hero h1 { 
  font-size: 3rem; 
  margin-bottom: 1rem; 
}
.hero .btn {
  display: inline-block; 
  padding: 0.8rem 1.6rem; 
  background: #fff; 
  color: #ff4081;
  border-radius: 25px; 
  font-weight: 600; 
  transition: 0.3s;
}
.hero .btn:hover { 
  background: #ffe4ec; 
}


/* Footer */
footer { 
  text-align: center;
  padding: 1rem; 
  background: #fff; 
  margin-top: 2rem; 
  color: #555; }
