/* Reset */
* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif; 
  }

body { 
       background: #ecdbea;
       color: #333; 
       line-height: 1.6; 
      }

/* Navbar */
.navbar {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  background: #fff; 
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: sticky; 
  top: 0; 
  z-index: 10;
}

.logo { 
  font-size: 1.5rem; 
  font-weight: 700; 
  color: #ff4081;
 }
.navbar ul { 
  display: flex; 
  list-style: none; 
  flex-wrap: wrap;
}
.navbar li { 
  margin-left: 1.5rem;
 }
 .navbar a { 
  text-decoration: none; 
  color: #333; 
  font-weight: bold; 
  transition: 0.3s; 
}
.navbar a:hover, .navbar a.active { 
  color: #ff4081; 
  font-weight: bold; 
  text-decoration: underline;
}


/* Products */
.category-list{ 
  padding: 3rem 2rem; 
  text-align: center; 
}
h2 {
  margin-bottom: 6rem;
  margin-top: 2rem; 
  font-size: 2rem; 
  color: #ff30e3; 
}

.category-grid {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 1.5rem;
}
 .category-card {
  background: #f1f3f3; 
  padding: 1rem; 
  font-weight: bold;
  text-decoration: none;
  
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
  transition: 0.3s;
}
.category-card:hover { 
  transform: translateY(-5px); 
  text-decoration: underline;
}


/* Footer */
footer { 
  text-align: center;
  padding: 1rem; 
  background: #fff; 
  margin-top: 9rem; 
  color: #555; }
